<!--<div class="jumbotron">
  <div class="container">
    <ul class="alphabet">
      <li ng-repeat="char in alphabet">
        <span ng-click="filterByAlphabet(char)">{{char}}</span>
      </li>
    </ul>
    <ul class="tags">
      <li ng-repeat="utag in tags">
        <span ng-click="filterByGenre(utag)">{{utag}}</span>
      </li>
    </ul>
  </div>
</div>-->
<div ng-if="!currentUser">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
            <div class="panel-body">
    <h3>You have to login to check your deadlines, sorry.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<input id="ex11" type="text" data-slider-handle="custom"/>-->
<div ng-if="currentUser">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{headingTitle}}
                <div class="pull-right">
                    <input class="search" type="text" ng-model="query.name" placeholder="Filter by name...">
                </div>
            </div>
            <div class="panel-body">
                <div class="row" style="padding: 30px;">
                    <div ng-repeat="mooc in moocs | filter:query | orderBy:'rating':true">
                        <div> <!--class='text-center'-->
                            <a href="/moocs/{{mooc._id}}">
                                &nbsp;<img class="img-rounded" ng-src="{{mooc.photo}}" width="20%"/>
                            </a>

                            <p></p>

                            <h2 class="media-heading"><a href="/moocs/{{mooc._id}}">&nbsp;{{mooc.name}}</a>
                                    <i class="fa fa-bell-slash red pointer"
                                       container="body" data-trigger="hover" data-type="success"
                                       data-title="{{tooltip[0]}}"
                                       bs-tooltip></i>
                                    <!--<i class="fa fa-bell green pointer"
                                       container="body" data-trigger="hover" data-type="success"
                                       data-title="{{tooltip[1]}}" ng-click="alarmOff(deadline)"
                                       bs-tooltip></i>-->
                            </h2>

                            <p></p>
                            <!--<p class="text-muted">Deadlines: {{deadlines.length}}</p>-->
                        </div>
                        <div class="dead-wrapper">
                            <div ng-if="!currentUser">
                                <h3>You have to login to check your deadlines.</h3>
                            </div>

                            <div ng-repeat="deadline in deadlines | filter:{moocId:mooc._id} | filter:cutExpired | orderBy:sortDeadline:false">
                                <div class="progress" ng-class="{ 'progress-striped active' : isSubsOn(deadline) }">
                                    <div class="progress-bar with-opacity with-countdown"
                                         ng-class="{ 'danger-zone' : !isSubsDone(deadline), 'progress-bar-info' : isSubsDone(deadline), 'without-opacity' : isInZone('D',deadline.endDate) && !isSubsDone(deadline)}"
                                         ng-style="computeZone('D',deadline.endDate)">
                                        <div ng-if="!isEndingNow(deadline.endDate) && isInZone('D',deadline.endDate)" class="dead-btn-wrapper">
                                            &nbsp;
                                            <!--<a class="dead-info" href="{{deadline.url}}" target="_blank"
                                               container="body" data-trigger="hover" data-type="success"
                                               data-title="{{deadline.summary}}" bs-tooltip>
                                                {{computeLeftStr(deadline.endDate)}}
                                            </a>-->
                                            <div class="dead-btn-second">

                                            <span class="label label-danger dead-info pointer"
                                               title="{{deadline.summary}}"
                                               container="body"
                                               data-content="
                                                    <i class='fa fa-calendar'> Due: {{getLocalDate(deadline.endDate)}}</i><br><br>
                                                    <i class='fa fa-info-circle'></i> {{deadline.description}}<br><br>
                                                    <i class='fa fa-external-link black'></i><a href='{{deadline.url}}'> Open Assignment Page</a><br>"
                                               data-template="views/popover.tpl.html"
                                               data-animation="am-flip-x"
                                               placement="bottom"
                                               data-auto-close="1"
                                               html="true"
                                               bs-popover>{{computeLeftStr(deadline.endDate)}}</span>
                                                <!--&nbsp;-->
                                            </div>

                                            <div class="dead-btn-first">
                                                <div class="wrapper">
                                                    <div class="inner1">
                                                        <i ng-if="!isAlarmOn(deadline)" class="fa fa-calendar-o red pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[0]}}" ng-click="alarmOn(deadline)"
                                                           bs-tooltip></i>
                                                        <i ng-if="isAlarmOn(deadline)" class="fa fa-calendar-o green pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[1]}}" ng-click="alarmOff(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                    <div ng-if="!isSubsOn(deadline)" class="inner2">
                                                        <i ng-if="isSubsDone(deadline)" class="fa fa-check-circle green pointer"
                                                           container="body" data-trigger="hover"  data-placement="top-left"
                                                           data-title="{{tooltip[4]}}" ng-click="unsubsDone(deadline)"
                                                           bs-tooltip></i>
                                                        <i ng-if="!isSubsDone(deadline)" class="fa fa-exclamation-triangle fa-spin red pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[2]}}" ng-click="subsOn(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                    <div ng-if="isSubsOn(deadline)" class="inner2">
                                                        <i class="fa fa-circle-o-notch fa-spin orange pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[3]}}" ng-click="subsDone(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-bar with-opacity with-countdown"
                                         ng-class="{ 'warning-zone progress-bar-separator' : !isSubsDone(deadline), 'progress-bar-info' : isSubsDone(deadline), 'without-opacity' : isInZone('W',deadline.endDate) && !isSubsDone(deadline)}"
                                         ng-style="computeZone('W',deadline.endDate)">
                                        <div ng-if="isInZone('W',deadline.endDate)" class="dead-btn-wrapper">
                                            <!--<span class="badge"><i class="fa fa-users"></i>&nbsp;42</span>-->
                                            <!--<a class="dead-info" href="{{deadline.url}}" target="_blank"
                                               container="body" data-trigger="hover" data-type="success"
                                               data-title="{{deadline.summary}}" bs-tooltip>
                                                {{computeLeftStr(deadline.endDate)}}
                                            </a>-->
                                            <div class="dead-btn-second">

                                            <span class="label label-danger dead-info pointer"
                                               title="{{deadline.summary}}"
                                               container="body"
                                               data-content="
                                                    <i class='fa fa-calendar'> Due: {{getLocalDate(deadline.endDate)}}</i><br><br>
                                                    <i class='fa fa-info-circle'></i> {{deadline.description}}<br><br>
                                                    <i class='fa fa-external-link black'></i><a href='{{deadline.url}}'> Open Assignment Page</a><br>"
                                               data-template="views/popover.tpl.html"
                                               data-animation="am-flip-x"
                                               placement="bottom"
                                               data-auto-close="1"
                                               html="true"
                                               bs-popover>{{computeLeftStr(deadline.endDate)}}</span>
                                                <!--&nbsp;-->
                                            </div>

                                            <div class="dead-btn-first">
                                                <div class="wrapper">
                                                    <div class="inner1">
                                                        <i ng-if="!isAlarmOn(deadline)" class="fa fa-calendar-o red pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[0]}}" ng-click="alarmOn(deadline)"
                                                           bs-tooltip></i>
                                                        <i ng-if="isAlarmOn(deadline)" class="fa fa-calendar-o green pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[1]}}" ng-click="alarmOff(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                    <div ng-if="!isSubsOn(deadline)" class="inner2">
                                                        <i ng-if="isSubsDone(deadline)" class="fa fa-check-circle green pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[4]}}" ng-click="unsubsDone(deadline)"
                                                           bs-tooltip></i>
                                                        <i ng-if="!isSubsDone(deadline)" class="fa fa-exclamation-triangle red pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[2]}}" ng-click="subsOn(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                    <div ng-if="isSubsOn(deadline)" class="inner2">
                                                        <i class="fa fa-circle-o-notch fa-spin orange pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[3]}}" ng-click="subsDone(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-bar with-opacity with-countdown"
                                         ng-class="{ 'relax-zone' : !isSubsDone(deadline), 'progress-bar-info' : isSubsDone(deadline), 'without-opacity' : isInZone('R',deadline.endDate) && !isSubsDone(deadline) }"
                                         ng-style="computeZone('R',deadline.endDate)">

                                        <div ng-if="isInZone('R',deadline.endDate)" class="dead-btn-wrapper">
                                            <!--<span class="badge"><i class="fa fa-users"></i>&nbsp;42</span>-->
                                            <!--<a class="dead-info" href="{{deadline.url}}" target="_blank"
                                               container="body" data-trigger="hover" data-type="success"
                                               data-title="{{deadline.summary}}" bs-tooltip>
                                                {{computeLeftStr(deadline.endDate)}}
                                            </a>-->

                                            <!--<i class="fa fa-bell"></i>-->
                                            <div class="dead-btn-second">

                                            <span class="label label-primary dead-info pointer"
                                                    title="{{deadline.summary}}"
                                                    container="body"
                                                    data-content="
                                                    <i class='fa fa-calendar'> Due: {{getLocalDate(deadline.endDate)}}</i><br><br>
                                                    <i class='fa fa-info-circle'></i> {{deadline.description}}<br><br>
                                                    <i class='fa fa-external-link black'></i><a href='{{deadline.url}}'> Open Assignment Page</a><br>"
                                                    data-template="views/popover.tpl.html"
                                                    data-animation="am-flip-x"
                                                    placement="bottom"
                                                    data-auto-close="1"
                                                    html="true"
                                                    bs-popover>{{computeLeftStr(deadline.endDate)}}</span>
                                            <!--&nbsp;-->
                                                </div>

                                            <div class="dead-btn-first">
                                                <div class="wrapper">
                                                    <div class="inner1">
                                                        <i ng-if="!isAlarmOn(deadline)" class="fa fa-calendar-o red pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[0]}}" ng-click="alarmOn(deadline)"
                                                           bs-tooltip></i>
                                                        <i ng-if="isAlarmOn(deadline)" class="fa fa-calendar-o green pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[1]}}" ng-click="alarmOff(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                    <div ng-if="!isSubsOn(deadline)" class="inner2">
                                                        <i ng-if="isSubsDone(deadline)" class="fa fa-check-circle green pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[4]}}" ng-click="unsubsDone(deadline)"
                                                           bs-tooltip></i>
                                                        <i ng-if="!isSubsDone(deadline)" class="fa fa-exclamation-triangle red pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[2]}}" ng-click="subsOn(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                    <div ng-if="isSubsOn(deadline)" class="inner2">
                                                        <i class="fa fa-circle-o-notch fa-spin orange pointer"
                                                           container="body" data-trigger="hover" data-placement="top-left"
                                                           data-title="{{tooltip[3]}}" ng-click="subsDone(deadline)"
                                                           bs-tooltip></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- stava qui prima dead-down, rimettilo qui -->
                                            <!--<a class="dead-info" href="javascript:void(0);"
                                               data-placement="top-right" title="{{deadline.summary}}"
                                               data-content="{{deadline.description}}"
                                               data-trigger="focus" data-animatio="am-flip-x" bs-popover>
                                                {{computeLeftStr(deadline.endDate)}}
                                            </a>-->
                                        </div>
                                    <div ng-if="isEndingNow(deadline.endDate)" class="dead-btn-wrapper float-me-left with-countdown">
                                        &nbsp;
                                        <!--<a class="dead-danger" href="{{deadline.url}}" target="_blank"
                                           container="body" data-trigger="hover" data-type="success"
                                           data-title="{{deadline.summary}}" bs-tooltip>
                                            {{computeLeftStr(deadline.endDate)}}
                                        </a>-->
                                        <div class="dead-btn-second">

                                            <span class="label label-danger dead-info pointer"
                                               title="{{deadline.summary}}"
                                               container="body"
                                               data-content="
                                                    <i class='fa fa-calendar'> Due: {{getLocalDate(deadline.endDate)}}</i><br><br>
                                                    <i class='fa fa-info-circle'></i> {{deadline.description}}<br><br>
                                                    <i class='fa fa-external-link black'></i><a href='{{deadline.url}}'> Open Assignment Page</a><br>"
                                               data-template="views/popover.tpl.html"
                                               data-animation="am-flip-x"
                                               placement="bottom"
                                               data-auto-close="1"
                                               html="true"
                                               bs-popover>{{computeLeftStr(deadline.endDate)}}</span>
                                            <!--&nbsp;-->
                                        </div>

                                        <div class="dead-btn-first">
                                            <div class="wrapper">
                                                <div class="inner1">
                                                    <i ng-if="!isAlarmOn(deadline)" class="fa fa-calendar-o red pointer"
                                                       container="body" data-trigger="hover" data-placement="top-left"
                                                       data-title="{{tooltip[0]}}" ng-click="alarmOn(deadline)"
                                                       bs-tooltip></i>
                                                    <i ng-if="isAlarmOn(deadline)" class="fa fa-calendar-o green pointer"
                                                       container="body" data-trigger="hover" data-placement="top-left"
                                                       data-title="{{tooltip[1]}}" ng-click="alarmOff(deadline)"
                                                       bs-tooltip></i>
                                                </div>
                                                <div ng-if="!isSubsOn(deadline)" class="inner2">
                                                    <i ng-if="isSubsDone(deadline)" class="fa fa-check-circle green pointer"
                                                       container="body" data-trigger="hover" data-placement="top-left"
                                                       data-title="{{tooltip[4]}}" ng-click="unsubsDone(deadline)"
                                                       bs-tooltip></i>
                                                    <i ng-if="!isSubsDone(deadline)" class="fa fa-exclamation-triangle red pointer"
                                                       container="body" data-trigger="hover" data-placement="top-left"
                                                       data-title="{{tooltip[2]}}" ng-click="subsOn(deadline)"
                                                       bs-tooltip></i>
                                                </div>
                                                <div ng-if="isSubsOn(deadline)" class="inner2">
                                                    <i class="fa fa-exclamation fa-spin orange pointer"
                                                       container="body" data-trigger="hover" data-placement="top-left"
                                                       data-title="{{tooltip[3]}}" ng-click="subsDone(deadline)"
                                                       bs-tooltip></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                <div class="btn-group" bs-checkbox-group>
                                    <div ng-if="!isAlarmOn(deadline)" class="btn-group" bs-checkbox-group>
                                        <button type="button" class="btn btn-default fa fa-bell red"
                                                container="body" data-trigger="hover" data-type="success"
                                                data-title="{{tooltip[0]}}" ng-click="alarmOn(deadline)"
                                                bs-tooltip></button>
                                    </div>
                                    <div ng-if="isAlarmOn(deadline)" class="btn-group" bs-checkbox-group>
                                        <button type="button" class="btn btn-default fa fa-bell green"
                                                container="body" data-trigger="hover" data-type="success"
                                                data-title="{{tooltip[1]}}" ng-click="alarmOff(deadline)"
                                                bs-tooltip></button>
                                    </div>
                                    <div ng-if="!isSubsOn(deadline)" class="btn-group" bs-checkbox-group>
                                        <div ng-if="isSubsDone(deadline)" class="btn-group" bs-checkbox-group>
                                            <button type="button" class="btn btn-default fa fa-check-square-o green"
                                                    container="body" data-trigger="hover" data-type="success"
                                                    data-title="{{tooltip[4]}}" ng-click="unsubsDone(deadline)"
                                                    bs-tooltip></button>
                                        </div>
                                        <div ng-if="!isSubsDone(deadline)" class="btn-group" bs-checkbox-group>
                                            <button type="button" class="btn btn-default fa fa-graduation-cap red"
                                                    container="body" data-trigger="hover" data-type="success"
                                                    data-title="{{tooltip[2]}}" ng-click="subsOn(deadline)"
                                                    bs-tooltip></button>
                                        </div>
                                    </div>

                                    <div ng-if="isSubsOn(deadline)" class="btn-group" bs-checkbox-group>
                                        <button type="button" class="btn btn-default fa fa-cog fa-spin orange"
                                                container="body" data-trigger="hover" data-type="success"
                                                data-title="{{tooltip[3]}}" ng-click="subsDone(deadline)"
                                                bs-tooltip></button>
                                    </div>
                                </div>-->

                                    <!--<div ng-if="isSubsOn(deadline)">
                                      <label class="btn btn-default fa fa-bell"><input type="button"></label>
                                        <label class="btn btn-default fa fa-bell"><input type="button"></label>
                                      <label class="btn btn-default fa fa-graduation-cap"><input type="button">></label>
                                  </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>